* {
  margin: 0;
  padding: 0;
}

.site-heading, .league-name {
  display: flex;
  margin: 1%;
}

.league-name {
  margin-top: .5%;
}

.game-item {
  display: flex;
  margin: 1% 3%;
}

.games-list {
  margin: 1%;
  list-style-type: none;
}

.each-game {
  margin: 1%;
}

.show-less-btn {
  margin-left: 2%;
}