* {
  margin: 0;
  padding: 0;
}

.site-heading {
  margin: 1%;
}

.league-name {
  margin: 2%;
}

.game-item {
  margin: 3%;
}

.show-less-btn {
  margin-left: 1%;
}

.game  {
  width: 80%;
  border: 1px solid black;
  padding: 5px;
}